<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改app</title>
    #include("sys/header.html")
</head>
<body>

<div class="panel panel-default" id="rrapp">
    <div class="panel-heading">{{title}}</div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2 control-label">名字</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="appInfo.name" placeholder="名字" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">分类</div>
            <div class="col-sm-10">
                <select class="form-control" id="categoryId">
                    <template v-for="category in categoryList">
                        <option :value="category.id" v-if="category.id == appInfo.categoryId" selected>
                            {{category.categoryName}}
                        </option>
                        <option :value="category.id" v-else>
                            {{category.categoryName}}
                        </option>
                    </template>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">是否下线</div>
            <div class="col-sm-10">
                <select type="text" class="form-control" id="isDeleted">
                    <option value="1" v-if="1 == appInfo.isDeleted" selected>已下线</option>
                    <option value="1" v-else>已下线</option>
                    <option value="0" v-if="0 == appInfo.isDeleted" selected>未下线</option>
                    <option value="0" v-else>未下线</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">是否手表展示</div>
            <div class="col-sm-10">
                <select type="text" class="form-control" id="showInWearAppstore">
                <option value="1" v-if="1 == appInfo.showInWearAppstore" selected>是</option>
                <option value="1" v-else>是</option>
                <option value="0" v-if="0 == appInfo.showInWearAppstore" selected>否</option>
                <option value="0" v-else>否</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">是否手机展示</div>
            <div class="col-sm-10">
                <select type="text" class="form-control" id="showInPhoneAppstore">
                <option value="1" v-if="1 == appInfo.showInPhoneAppstore" selected>是</option>
                <option value="1" v-else>是</option>
                <option value="0" v-if="0 == appInfo.showInPhoneAppstore" selected>否</option>
                <option value="0" v-else>否</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">是否需要支付</div>
            <div class="col-sm-10">
                <select type="text" class="form-control" id="needPay">
                <option value="1" v-if="1 == appInfo.needPay" selected>是</option>
                <option value="1" v-else>是</option>
                <option value="0" v-if="0 == appInfo.needPay" selected>否</option>
                <option value="0" v-else>否</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">是否手表独立</div>
            <div class="col-sm-10">
                <select type="text" class="form-control" id="wearStandalone">
                <option value="1" v-if="1 == appInfo.wearStandalone" selected>是</option>
                <option value="1" v-else>是</option>
                <option value="0" v-if="0 == appInfo.wearStandalone" selected>否</option>
                <option value="0" v-else>否</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">下载次数</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="appInfo.downloadCount" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">评论次数</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="appInfo.commentsCount" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">价格</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="appInfo.price">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">别名</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="appInfo.aliasName" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">包名</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="appInfo.apkPackageName" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">summary</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="appInfo.summary" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">Operate Note</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="appInfo.operateNote" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">分数</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="appInfo.score" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">rankScore</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="appInfo.rankScore" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">App From</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="appInfo.appFrom" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">Support Hardware</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="appInfo.supportHardware" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">Hardware Tips</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="appInfo.hardwareTips" disabled>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">cpu</div>
            <div class="col-sm-10">
                <select type="text" class="for-control" id="cpu">
                    <option value="arm" v-if="'arm' == appInfo.cpu" selected>arm</option>
                    <option value="arm" v-else>arm</option>
                    <option value="x86" v-if="'x86' == appInfo.cpu" selected>x86</option>
                    <option value="x86" v-else>x86</option>
                    <option value="all" v-if="'all' == appInfo.cpu" selected>all</option>
                    <option value="all" v-else>all</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">watch</div>
            <div class="col-sm-10">
                <input type="text" class="form-control" v-model="appInfo.watch">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">分类2</div>
            <div class="col-sm-10">
                <select class="form-control" id="secondCategoryId">
                    <template v-for="category in categoryList">
                        <option :value="category.id" v-if="category.id == appInfo.secondCategoryId" selected>
                            {{category.categoryName}}
                        </option>
                        <option :value="category.id" v-else>
                            {{category.categoryName}}
                        </option>
                    </template>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2 control-label">分类3</div>
            <div class="col-sm-10">
                <select class="form-control" id="thirdCategoryId">
                    <template v-for="category in categoryList">
                        <option :value="category.id" v-if="category.id == appInfo.thirdCategoryId" selected>
                            {{category.categoryName}}
                        </option>
                        <option :value="category.id" v-else>
                            {{category.categoryName}}
                        </option>
                    </template>
                </select>
            </div>
        </div>
<!--        <div class="form-group">
            <div class="col-sm-2 control-label">状态</div>
            <label class="radio-inline">
                <input type="radio" name="enable" value="1"/> 展示
            </label>
            <label class="radio-inline">
                <input type="radio" name="enable" value="0"/> 不展示
            </label>
        </div>-->
<!--        <div class="form-group">
            <div class="col-sm-2 control-label">创建时间</div>
            <div class="col-sm-10">
                <td colspan="3">
                    <input type="text" class="form-control" style="display: none" name="startTime" id="startTime"/>
                    <input type="text" class="form-control" style="display: none" name="endTime" id="endTime">
                    <div class="controls">
                        <div id="daterangepicker" class="input-prepend input-group" style="width:100%"  data-date-format="yyyy-mm-dd hh:ii:ss">
                                        <span class="add-on input-group-addon">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar">
                                            </i>
                                        </span>
                            <input type="text" id="searchDateRange"
                                   class="form-control" value="请选择起止时间" class="span4" readonly/>
                        </div>
                    </div>
                </td>
            </div>
        </div>-->
        <div class="form-group">
            <div class="col-sm-2 control-label"></div>
            <input type="button" class="btn btn-primary" @click="update" value="确定"/>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="back" value="返回"/>
        </div>
    </form>
</div>
<script src="../js/app/appEdit.js"></script>
</body>
</html>