<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobvoi.appstore.mapper.CommentsMapper">
  <resultMap id="BaseResultMap" type="com.mobvoi.appstore.model.Comments">
    <id column="appid" jdbcType="INTEGER" property="appid" />
    <id column="uid" jdbcType="INTEGER" property="uid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="time" jdbcType="INTEGER" property="time" />
    <result column="score" jdbcType="TINYINT" property="score" />
  </resultMap>
  <sql id="Base_Column_List">
    appid, uid, content, time, score
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.mobvoi.appstore.model.CommentsKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comments
    where appid = #{appid,jdbcType=INTEGER}
      and uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.mobvoi.appstore.model.CommentsKey">
    delete from comments
    where appid = #{appid,jdbcType=INTEGER}
      and uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mobvoi.appstore.model.Comments">
    insert into comments (appid, uid, content, 
      time, score)
    values (#{appid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{time,jdbcType=INTEGER}, #{score,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mobvoi.appstore.model.Comments">
    insert into comments
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appid != null">
        appid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="score != null">
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appid != null">
        #{appid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mobvoi.appstore.model.Comments">
    update comments
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=TINYINT},
      </if>
    </set>
    where appid = #{appid,jdbcType=INTEGER}
      and uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mobvoi.appstore.model.Comments">
    update comments
    set content = #{content,jdbcType=VARCHAR},
      time = #{time,jdbcType=INTEGER},
      score = #{score,jdbcType=TINYINT}
    where appid = #{appid,jdbcType=INTEGER}
      and uid = #{uid,jdbcType=INTEGER}
  </update>
</mapper>